In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [68]:
url ="https://en.wikipedia.org/wiki/List_of_number-one_songs_in_Norway"

In [69]:
response = requests.get(url)
response.status_code

200

In [70]:
soup = BeautifulSoup(response.content, "html.parser")

In [59]:
# soup

In [60]:
soup.select("#mw-content-text > div.mw-parser-output > table:nth-child(6) > tbody > tr:nth-child(1) > td:nth-child(2)")

[]

In [61]:
#mw-content-text > div.mw-parser-output > table.wikitable.sortable.plainrowheaders.jquery-tablesorter

In [71]:
tab= soup.select("table")[0]

In [77]:
# tab.select("tbody tr td a")

In [73]:
table = soup.select('table')[0]
table.select('tbody tr td a')
songs = []
for e in table.select('tbody tr td a'):
    song = e.get("title")
    if song is not None:
        songs.append(e["title"])

In [78]:
# songs

In [75]:
songs = pd.DataFrame({"titles": songs})

In [76]:
songs

                              titles
0       Cotton Eye Joe (Rednex song)
1                  Old Pop in an Oak
2    Scatman (Ski Ba Bop Ba Dop Bop)
3     Think Twice (Celine Dion song)
4                 Self Esteem (song)
..                               ...
147         Human (The Killers song)
148                 Womanizer (song)
149                  If I Were a Boy
150         Chinese Democracy (song)
151                 Oro jaska, beana

[152 rows x 1 columns]